<h1>New cocktail</h1>
<h3>(app/views/cocktails/new.html.erb)</h3>

<div class="container">
  <%= simple_form_for [@cocktail] do |f| %>
    <%= f.input :name %>

    <!-- version basique à moi
    <%= f.submit "Save" %> -->
    <%= f.submit class: 'btn btn-primary' %>
  <% end %>

  <%= link_to 'Back', cocktails_path %>
</div>
