<!--
<h1>New cocktail</h1>
<h3>(app/views/cocktails/new.html.erb)</h3>
-->

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path "mocano.jpg" %>');">
  <div class="container">
    <h1><a href="/"><i class="fas fa-glass-martini-alt"></i></a>Bloody Rails Bar</h1>
    <p>Discover the Art of Cocktail</p>
  </div>
</div>

<div class="container">
  <%= simple_form_for [@cocktail] do |f| %>
    <%= f.input :name %>
    <%= f.input :picture_url %>
    <%= f.input :photo, as: :file %>

    <!-- version basique à moi
    <%= f.submit "Save" %> -->
    <%= f.submit class: 'btn btn-primary' %>
  <% end %>

  <%= link_to 'Back', cocktails_path %>
</div>
