<h1><%= @cocktail.name %> cocktail details</h1>
<h3>app/views/cocktails/show.html.erb - cocktail.id =  <%= @cocktail.id %></h3>

<div class="container">

  <h2>Dose</h2>
  <div class="list-group">
    <% @cocktail.doses.each do |dose| %>
      <li class="list-group-item">
        <p><%= Ingredient.find(dose.ingredient_id).name %> - <%= dose.description %></p>
      </li>
    <% end %>
  </div>

  <h2>Add an ingredient ?</h2>
  <%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.input :description %>
    <%= f.association :ingredient %>
    <%= f.submit "Add" %>
  <% end %>

  <%= link_to 'Back', cocktails_path %>

</div>
